body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.navbar {
  height: 70px;
  background-color: #F8F7F7;
  position: sticky;
  top: 0;
  z-index: 1000; 
  transition: top 0.3s;
  @media (max-width: 600px) {
    width: 100%;
  }
   @media (max-width: 600px) {
    width: 100%;
  }
}

.navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #F8F7F7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 1400px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  @media (max-width: 600px) {
    max-width: 100%;
    padding: 0px 20px;
  }
  
  @media (max-width: 768px) {
    max-width: 100%;
    padding: 0px 20px;
    /* background-color: red; */
  }
}

.nav-elements {
  display: flex;
  align-items: center;
}

.nav-elements ul {
  list-style: none;
  display: flex;
  /* padding: 0;   */
  margin-right: 30px;
  column-gap: 45px;
}
@media (min-width: 768px) {
  .nav-elements ul{
    margin-right: 70px;
 
  }
}
@media (min-width: 1200px) {
  .nav-elements ul{
    margin-right: 230px;
  }
}
@media (min-width: 1300px) {
  .nav-elements ul{
    margin-right: 320px;
  }
}
.nav-elements ul li:nth-child(2){
  text-wrap: nowrap;
}


.nav-elements ul li a {
  text-decoration: none;
  color: #333;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

/* Dropdown Styles */
.language-selector {
  position: relative;
  margin-left: 20px;
}

.dropdown-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px 18px;
  border-radius: 5px;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 100%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  border-radius: 5px;
}

.dropdown-item {
  padding: 8px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.2s;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}


@media (max-width: 830px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fef7e5;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}

.language-selector {
  display: flex;
  align-items: center;
}

.select__control {
  width: 200px;
  border-radius: 4px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.select__single-value, .select__option {
  display: flex;
  align-items: center;
}

.select__option img {
  margin-right: 8px;
}

/* ======== */
.container1 {
  max-width: 1400px;
  margin: 0 auto;

  @media (max-width: 600px) {
    padding: 0px 10px;    
  }
}

.Card-Home {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 370px;
  background-color: #464342;
  border-radius: 15px;
  @media (max-width: 600px) {
    flex-direction: column;
    height: auto;
    padding: 15px;
    width: auto;
      /* padding: 0 30px; */
  }
}

.img1 {
  width: 850px;
  @media (max-width: 600px) {
    width: 100%;  
  }
}

.home-text-title-1 {
  letter-spacing: 5px;
  font-size: 40px;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  @media (max-width: 600px) {
    font-size: 30px;
  }
}

.home-text-title-2 {
  letter-spacing: 5px;
  color: white;
  font-weight: bold;
  font-size: 60px;
  font-family: sans-serif;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  @media (max-width: 600px) {
    font-size: 40px;
  } 
}

.home-text-desc {
  letter-spacing: 5px;
  color: white;
  font-size: 70px;
  font-family: sans-serif;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  @media (max-width: 600px) {
    font-size: 45px;
    letter-spacing: 0;
  }
}

.Home-text {
  padding-top: 50px;
  padding-right: 25px;
}

/* //////============ */
.Home-mini-card-groups {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding-top: 120px;
  @media (max-width:768px) {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 15px;
    
  }
}

.mini-card {
  display: flex;
  width: 300px;
  height: 100px;
  margin: auto;
  gap: 20px;
  align-items: center;
}

.text-bold {
  font-weight: bold;
}

.home-card-desc {
  color: #aaa;
}

/* ============media query Responsive design============== */

@media (max-width: 290px) {
  .Home-mini-card-groups {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding-top: 40px;
  }

  .Card-Home {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .img1 {
    width: 300px;
  }

  .Card-Home {
    width: 100%;
    height: 250px;
    @media (max-width: 600px) {
      width: auto;
    }
  }

  .home-text-title-1 {
    letter-spacing: 5px;
    font-size: 15px;
    font-family: sans-serif;
    text-align: center;
  }

  .home-text-title-2 {
    letter-spacing: 5px;
    font-size: 20px;
  }

  .home-text-desc {
    letter-spacing: 5px;
    font-size: 25px;
  }
}

@media (max-width: 550px) {
  .Home-mini-card-groups {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding-top: 40px;
  }
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  background-color: #f0f0f0; 
  border: 1px solid #ccc; 
  transition: background-color 0.5s ease; 
}
